#plus{
  width: 200px;
  height: 50px;
  margin-left: 670px;
}
#card1{
  border-color: #df0c1d;
  border-radius: 16px;
  border-width: 3px;
  background-color: #fafafa;
}

h1{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.col-md-3{
  padding-top: 28px;
}

#cardFact{
  border-color: darkred;
  background-color: #fafafa;
}

.circle-btn button{
  margin: 2px;
  border-radius: 50%;
  height:38px;
  width:38px;
  font-size: 17px;
}
.col-md-2 > label, .col-md-3 > label{
  font-weight: bold;
}
