<p> </p>
<div class="container-fluid">
  <h1 id="yt">Declaration IS</h1>
  <div class="card" id="card1">
    <div class="card-body">
      <div class="col-md-4 offset-md-4"><label>Société  &  Année</label>
        <div class="input-group">
          <input type="text" placeholder="ICE Société" class="form-control" [(ngModel)]="declarationIs.societe.ice">
          <input type="text" placeholder="Année" class="form-control" [(ngModel)]="declarationIs.annee">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" (click)="findFactBySocSourceAndAnnee(declarationIs)">Search</button>
          </div>
        </div>
      </div>
      <p> </p>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold; font-size: 16px">Factures -crédit-  <span id="factc" class="btn btn-secondary fa fa-plus" (click)="openDialog()"></span></h5>
              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Libellé</th>
                  <th scope="col">MontantHT</th>
                  <th scope="col">Source</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fd of factureListCredit">
                  <th scope="row">{{fd.ref}}</th>
                  <th>{{fd.montantHorsTaxe}}</th>
                  <th>{{fd.societeSource.ice}}</th>
                  <th>{{fd.societeDistination.ice}}</th>
                  <th>
                    <button class="btn btn-warning fa fa-edit"></button>
                    <button class="btn btn-danger fa fa-trash"></button>
                  </th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p> </p>
          <!--- gain --->


        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: bold; font-size: 16px">Factures -débit-  <span id="factd" class="btn btn-secondary fa fa-plus" (click)="openDialog()"></span></h5>
              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Libellé</th>
                  <th scope="col">MontantHT</th>
                  <th scope="col">Source</th>
                  <th scope="col">Destination</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fd of factureListDebit">
                  <th scope="row">{{fd.ref}}</th>
                  <th>{{fd.montantHorsTaxe}}</th>
                  <th>{{fd.societeSource.ice}}</th>
                  <th>{{fd.societeDistination.ice}}</th>
                  <th>
                    <button class="btn btn-warning fa fa-edit"></button>
                    <button class="btn btn-danger fa fa-trash"></button>
                  </th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <p> </p>
          <!---- charge--->
           <p> </p>
        </div>
      </div>
      <p> </p>
      <div class="row">

        <!------>
        <div class="col-md-2 offset-md-2"><label>Total hors taxe gain :</label>
          <div class="input-group">
            <input type="text" disabled class="form-control" [value]="declarationIs.totalHTGain">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>


        <div class="col-md-2 offset-md-4"><label>Total hors taxe charge :</label>
          <div class="input-group">
            <input type="text" disabled class="form-control" [value]="declarationIs.totalHTCharge">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>

        <!------>



        <div class="col-md-3"><label>Résultat fiscal :</label>
          <div class="input-group">
            <input type="text" disabled class="form-control" [value]="declarationIs.totalHTDiff">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
        <div class="col-md-3"><label>Cotisation minimale :</label>
          <div class="input-group">
            <input type="text" disabled class="form-control" [value]="declarationIs.montantISCalcule">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
        <div class="col-md-3"><label>Montant IS calculé :</label>
          <div class="input-group">
            <input type="text" disabled class="form-control" [value]="declarationIs.montantISCalcule">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
        <div class="col-md-3"><label>Montant IS payé :</label>
          <div class="input-group">
            <input type="text" disabled class="form-control" [value]="declarationIs.montantISPaye">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
      </div>
      <!--
      <div class="col-md-4 offset-md-4"><label>Montant IS payé:</label>
        <input type="text" disabled class="form-control" placeholder="Montant IS" [value]="declarationIs.montantISPaye">
      </div> -->
      <p> </p>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary btn-block fa fa-download"></button>
      <button type="button" class="btn btn-primary btn-block btn-lg" (click)="save(declarationIs)">SAVE</button>
    </div>
  </div>
</div>
