<p> </p>
<div class="container-fluid">
  <h1 id="yt">Declaration IS</h1>
  <div class="card" id="card1">
    <div class="card-body">
      <div class="col-md-4 offset-md-4"><label>Société  &  Année</label>
        <div class="input-group">
          <input type="text" placeholder="ICE Société" class="form-control" [(ngModel)]="declarationIsObject.iceSociete" [(ngModel)]="declarationIs.societe.ice" >
          <input type="text" placeholder="Année" class="form-control" [(ngModel)]="declarationIsObject.annee" [(ngModel)]="declarationIs.annee">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" (click)="afficherDecIS()">Search</button>
          </div>
        </div>
      </div>
      <p></p>
      <div class="card" id="cardFact">
      <div class="row">
        <div class="col-sm-6">
            <div class="card-body">
              <h5 class="card-title" >Factures -CRÉDIT-  <span><button type="button" class="circle-btnplus fa fa-plus btn btn-primary"  (click)="creerFactCred()"></button></span></h5>
              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Libellé</th>
                  <th scope="col">Montant HT</th>
                  <th scope="col">S.Source</th>
                  <th scope="col">S.Destination</th>
                  <th scope="col">Action</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fc of declarationIsObject.factureC |paginate: {id:'listFactC',itemsPerPage: pageSize, currentPage:page, totalItems:declarationIsObject.factureC.length }; index as i">
                  <th scope="row">{{fc.ref}}</th>
                  <td>{{fc.montantHorsTaxe}}</td>
                  <td>{{fc.societeSource.ice}}</td>
                  <td>{{fc.societeDistination.ice}}</td>
                  <td><div class="circle-btn"><button type="button" class=" fa fa-trash btn btn-danger" (click)="deleteFact(i, fc)"></button></div></td>
                  <td><div class="circle-btn"><button type="button" class=" fa fa-edit btn btn-warning" (click)="clicUpdateF(i, fc)"></button></div></td>
                </tr>
                </tbody>
              </table>
              <div>
                <pagination-controls id="listFactC" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
              </div>
            </div>
            <!--  table 2 -->
          <p> </p>
          <!--- gain --->
        </div>
        <div class="col-sm-6">
            <div class="card-body">
              <h5 class="card-title" >Factures -DÉBIT-  <span><button type="button" class="circle-btnplus fa fa-plus btn btn-primary"  (click)="creerFactDeb()"></button></span></h5>
              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Libellé</th>
                  <th scope="col">Montant HT</th>
                  <th scope="col">S.Source</th>
                  <th scope="col">S.Destination</th>
                  <th scope="col">Action</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fd of declarationIsObject.factureD |paginate: {id:'listFactD',itemsPerPage: pageSize, currentPage:1, totalItems:declarationIsObject.factureD.length }; index as i">
                  <th scope="row">{{fd.ref}}</th>
                  <td>{{fd.montantHorsTaxe}}</td>
                  <td>{{fd.societeSource.ice}}</td>
                  <td>{{fd.societeDistination.ice}}</td>
                  <td><div class="circle-btn"><button type="button" class=" fa fa-trash btn btn-danger" (click)="deleteFact(i, fd)"></button></div></td>
                  <td><div class="circle-btn"><button type="button" class=" fa fa-edit btn btn-warning" (click)="clicUpdateF(i, fd)"></button></div></td>
                </tr>
                </tbody>
              </table>
              <div>
                <pagination-controls id="listFactD" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
              </div>
            </div>
        </div>
      </div>
      </div>
      <p> </p>
      <div class="row">
        <div class="col-md-2 offset-md-2"><label>Total hors taxe gain :</label>
          <div class="input-group">
            <input type="number" disabled class="form-control" [value]="declarationIsObject.totalHTGain">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>


        <div class="col-md-2 offset-md-4"><label>Total hors taxe charge :</label>
          <div class="input-group">
            <input type="number" disabled class="form-control" [value]="declarationIsObject.totalHTCharge">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>

        <!------>

        <div class="col-md-3"><label>Résultat fiscal :</label>
          <div class="input-group">
            <input type="number" disabled class="form-control" [value]="declarationIsObject.totalHTDiff">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
        <div class="col-md-3"><label>Cotisation minimale :</label>
          <div class="input-group">
            <input type="number" disabled class="form-control" [value]="declarationIsObject.montantISCalcule">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
        <div class="col-md-3"><label>Montant IS calculé :</label>
          <div class="input-group">
            <input type="number" disabled class="form-control" [value]="declarationIsObject.montantISCalcule">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
        <div class="col-md-3"><label>Montant IS payé :</label>
          <div class="input-group">
            <input type="number" disabled class="form-control" [value]="declarationIsObject.montantISPaye">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
      </div>
      <p> </p>
    </div>
    <div class="card-footer">
      <div class="downl"><button class="btn-downl btn btn-primary fa fa-download"></button></div>
      <div class="save"><button class="btn-save btn btn-primary" (click)="saveDeclIS()">SAVE</button></div>
    </div>
  </div>
</div>
