#plus{
  width: 200px;
  height: 50px;
  margin-left: 670px;
}
.card-title{
  font-weight: bold;
  font-size: 16px;
}
#card1{
  border-color: #df0c1d;
  border-radius: 16px;
  border-width: 3px;
  background-color: #fafafa;
}

h1{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}
.col-md-3{
  padding-top: 28px;
}

#cardFact{
  border-color: darkred;
  background-color: #fafafa;
  height: 400px;
}

.circle-btn button{
  margin: 2px;
  border-radius: 50%;
  height:38px;
  width:38px;
  font-size: 17px;
}
.col-md-2 > label, .col-md-3 > label, .col-md-4 >label{
  font-weight: bold;
}
.circle-btnplus{
  margin-left: 9px;
  border-radius: 50%;
  height:33px;
  width: 37px;
  font-size: 16px;
}

.btn-downl, .btn-save {
  width: 500px;
  height: 45px;
  font-size: 25px;
}
.downl, .save{
  width: 500px;
  height: 45px;
  padding-left: 600px;
}
.save{
  padding-top: 5px;
}
p > span{
  font-weight: bold;
  color: blue;
}
.card-footer > button{
  width: 300px;
  height: 45px;
}

.butt{
  font-size: 20px;
  border-radius: 50px;
  box-shadow: 15px 5px 10px black;
  width: 400px;
  outline: none;
  padding: 9px;
  margin-left: 140px;
  background-color: #206a5d;
  border-color: #206a5d;
  color: white;

}
.upload-box{
  font-size: 16px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 15px 5px 10px black;
  width: 400px;
  outline: none;
  margin-left: 140px;
}

::-webkit-file-upload-button{
  color: white;
  background-color: #206a5d;
  padding: 15px;
  border: none;
  border-radius: 50px;
  box-shadow: 1px 0 1px #6b4559;
  outline: none;
}

::-webkit-file-upload-button :hover{
  background-color: #438a5e;
}
