<p> </p>
<div class="container-fluid">
  <h1 id="yt">Declaration IS</h1>
  <div class="card" id="card1">
    <div class="card-body">
      <div class="col-md-4 offset-md-4"><label>Société  &  Année</label>
        <div class="input-group">
          <input type="text" placeholder="ICE Société" class="form-control" [(ngModel)]="declarationIsObject.iceSociete" [(ngModel)]="declarationIs.societe.ice" >
          <input type="text" placeholder="Année" class="form-control" [(ngModel)]="declarationIsObject.annee" [(ngModel)]="declarationIs.annee">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" (click)="afficherDecIS()">Search</button>
          </div>
        </div>
      </div>
      <p></p>
      <div class="card" id="cardFact">

      <div class="row">
        <div class="col-sm-6">
          <div class="card-body">

            <div class="row">
              <div class="col-md-4"><h5 class="card-title" >Factures -CRÉDIT- <span><button type="button" class="circle-btnplus fa fa-plus btn btn-primary"  (click)="creerFactCred()"></button></span></h5></div>
              <div  class="col-md-4"><label>Total hors taxe gain :</label>
                <div class="input-group">
                  <input type="number" disabled class="form-control" [value]="declarationIsObject.totalHTGain">
                  <div class="input-group-append">
                    <span class="input-group-text">MAD</span>
                  </div>
                </div>
                <p>  </p>
              </div>
            </div>

            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th scope="col">Libellé</th>
                <th scope="col">Montant HT</th>
                <th scope="col">Sté Source</th>
                <th scope="col">Sté Destination</th>
                <th scope="col">Action</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let fc of declarationIsObject.factureC |paginate: {id:'listFactC',itemsPerPage: pageSize, currentPage:page, totalItems:declarationIsObject.factureC.length }; index as i">
                <th scope="row">{{fc.ref}}</th>
                <td>{{fc.montantHorsTaxe}}</td>
                <td>{{fc.societeSource.ice}}</td>
                <td>{{fc.societeDistination.ice}}</td>
                <td><div class="circle-btn"><button type="button" class=" fa fa-trash btn btn-danger" (click)="deleteFact(i, fc)"></button></div></td>
                <td><div class="circle-btn"><button type="button" class=" fa fa-edit btn btn-warning" (click)="clicUpdateF(i, fc)"></button></div></td>
              </tr>
              </tbody>
            </table>
            <div>
              <pagination-controls id="listFactC" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
            </div>
          </div>
        </div>


        <div class="col-sm-6">
            <div class="card-body">

              <div class="row">
                <div class="col-md-4"><h5 class="card-title" >Factures -DÉBIT-  <span><button type="button" class="circle-btnplus fa fa-plus btn btn-primary"  (click)="creerFactDeb()"></button></span></h5></div>
                <div  class="col-md-4"><label>Total hors taxe charge :</label>
                  <div class="input-group">
                    <input type="number" disabled class="form-control" [value]="declarationIsObject.totalHTCharge">
                    <div class="input-group-append">
                      <span class="input-group-text">MAD</span>
                    </div>
                  </div>
                  <p>  </p>
                </div>
              </div>

              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">Libellé</th>
                  <th scope="col">Montant HT</th>
                  <th scope="col">S.Source</th>
                  <th scope="col">S.Destination</th>
                  <th scope="col">Action</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fd of declarationIsObject.factureD |paginate: {id:'listFactD',itemsPerPage: pageSize, currentPage:page2, totalItems:declarationIsObject.factureD.length }; index as i">
                  <th scope="row">{{fd.ref}}</th>
                  <td>{{fd.montantHorsTaxe}}</td>
                  <td>{{fd.societeSource.ice}}</td>
                  <td>{{fd.societeDistination.ice}}</td>
                  <td><div class="circle-btn"><button type="button" class=" fa fa-trash btn btn-danger" (click)="open(content, i,fd)"></button></div></td>
                  <td><div class="circle-btn"><button type="button" class=" fa fa-edit btn btn-warning" (click)="clicUpdateF(i, fd)"></button></div></td>
                </tr>
                </tbody>
              </table>
              <div>
                <pagination-controls id="listFactD" maxSize="5" directionLinks="true" (pageChange)="page2=$event"></pagination-controls>
              </div>
            </div>
        </div>
      </div>
      </div>
      <p> </p>
      <div class="row">
        <div class="col-md-3"><label>Résultat fiscal :</label>
          <div class="input-group">
            <input type="number" disabled class="form-control" [value]="declarationIsObject.totalHTDiff">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
        <div class="col-md-3"><label>Cotisation minimale :</label>
          <div class="input-group">
            <input type="number" disabled class="form-control" [value]="declarationIsObject.tauxIsConfig.cotisationMinimale">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
        <div class="col-md-3"><label>Montant IS calculé :</label>
          <div class="input-group">
            <input type="number" disabled class="form-control" [value]="declarationIsObject.montantISCalcule">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
        <div class="col-md-3"><label>Montant IS payé :</label>
          <div class="input-group">
            <input type="number" disabled class="form-control" [value]="declarationIsObject.montantISPaye">
            <div class="input-group-append">
              <span class="input-group-text">MAD</span>
            </div>
          </div>
        </div>
      </div>
      <p> </p>
    </div>
    <div class="card-footer">
      <button class="butt" (click)="saveDecISBrouillon()">Enregistrer comme brouillon</button>
      <button class="butt" (click)="saveDeclIS()">Valider</button>
        <input type="file" class="upload-box" />
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Voulez-vous vraiment supprimer la facture <span>{{fact.libelle}}</span>  ? </strong></p>
    <br>
      <p>Toutes les informations associées à cette facture seront supprimées définitivement.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="deleteFact(index, fact)" (click)="c('Save click')" (click)="refresh()">Supprimer</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Annuler</button>
  </div>
</ng-template>
