<div class="b">
  <h2 mat-dialog-title>Création d'une nouvelle facture</h2>
  <mat-dialog-content>

    <p>  </p>

      <div class="row">

        <div class="col-md-4">
          <label>Reference: </label>
          <input type="text" class="form-control" [(ngModel)]="facture.ref">
        </div>

        <div class="col-md-4">
          <label>Libellé: </label>
          <input type="text" class="form-control" [(ngModel)]="facture.libelle">
        </div>

        <div class="col-md-4">
          <label>Date opération: </label>
          <input type="date" class="form-control" [(ngModel)]="facture.dateOperation">
        </div>

        <div class="col-md-4">
          <label>Montant hors taxe: </label>
          <input type="number" class="form-control" [(ngModel)]="facture.montantHorsTaxe">
        </div>


        <div class="col-md-4">
          <label>Type opération : </label>
          <input type="text" disabled class="form-control" [(ngModel)]="facture.typeOperation">
        </div>

        <div class="col-md-4">
          <label>TVA : </label>
          <input type="text" class="form-control" [(ngModel)]="facture.tva.ref">
        </div>

        <div class="col-md-4">
          <label>Société source : </label>
          <input type="text" class="form-control" placeholder="ICE" [(ngModel)]="facture.societeSource.ice">
        </div>

        <div class="col-md-4">
          <label>Société destination : </label>
          <input type="text" class="form-control" placeholder="ICE" [(ngModel)]="facture.societeDistination.ice">
        </div>

        <div class="col-md-4">
          <label>Class comptable : </label>
          <input type="text" class="form-control" placeholder="Réference" [(ngModel)]="facture.classComptable.ref">
        </div>
      </div>
    <p>  </p>

    <div class="card-footer">
        <button class="btn btn-outline-dark btn-block" (click)="saveFacture()">Save</button>
      </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="mat-raised-button" (click)="closeAndRefresh()">Close</button>
  </mat-dialog-actions>

</div>
