<div class="container-fluid">
    <h1>DÉCLARATION IS Criteria</h1>
    <div class="card" id="firstcard">
      <div class="card-body">
        <div class="card">
          <div class="card-header" style="font-size:16.0pt">Search Declaration IS :</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 offset-md-2"><label>Reference :</label>
                <input type="text" class="form-control" [(ngModel)]="declarationVo.ref">
              </div>
              <div class="col-md-3 offset-md-1"><label>Société :</label>
                <input type="text" class="form-control" [(ngModel)]="declarationVo.societe">
              </div>
              <div class="col-md-3 offset-md-1"><label>Année :</label>
                <input type="text" class="form-control" [(ngModel)]="declarationVo.annee">
              </div>
              <div class="col-md-3"><label>Année minimum :</label>
                <input type="text" class="form-control" [(ngModel)]="declarationVo.anneeMin">
              </div>
              <div class="col-md-3"><label>Année maximum :</label>
                <input type="text" class="form-control" [(ngModel)]="declarationVo.anneeMax">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-outline-primary btn-lg btn-block fa fa-search" (click)="criteriaIS()"></button>
          </div>
        </div>
        <p>  </p>
        <div class="card">
          <div class="card-header">Result </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg">
                    <h5 class="card-title" style="font-size:14.0pt">Déclaration IS</h5>
                    <table class="table table-hover table-striped">
                      <thead>
                      <th>Reference</th>
                      <th>Année</th>
                      <th>TotalHTGain</th>
                      <th>TotalHTCharge</th>
                      <th>Résultat fiscal</th>
                      <th>Montant IS calculé</th>
                      <th>Montant IS payé</th>
                      <th>Société</th>
                      <th>État</th>
                      <th></th>
                      <th>Détail</th>
                      </thead>
                      <tbody>
                      <tr *ngFor="let d of declarationISList |paginate: {id:'listDecIS',itemsPerPage: itemsPerPageDecIS, currentPage:page, totalItems:declarationISList.length}; index as i">
                      <td>{{d.ref}}</td>
                        <td>{{d.annee}}</td>
                        <td>{{d.totalHTGain}}</td>
                        <td>{{d.totalHTCharge}}</td>
                        <td>{{d.totalHTDiff}}</td>
                        <td>{{d.montantISCalcule}}</td>
                        <td>{{d.montantISPaye}}</td>
                        <td>{{d.societe.ice}}</td>
                        <td *ngIf="d.etatDeclaration.libelle == 'valider'"><span><i class="bi bi-check2-circle"></i></span></td>
                        <td *ngIf="d.etatDeclaration.libelle == 'brouillon'">
                          <button class="btn btn-warning fa fa-send" (click)="openForUpdate(content, i, d)"></button>
                          <button class="btn btn-danger fa fa-trash" (click)="openForDelete(content1, i, d)"></button>
                        <td>
                        <td>
                          <button class="btn btn-info fa fa-info" (click)="findFactures(d)"></button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                <div>
                  <pagination-controls id="listDecIS" maxSize="5" directionLinks="true" (pageChange)="page=$event"></pagination-controls>
                </div>
              </div>
            </div>
            <p></p>
          </div>
        </div>
        <p> </p>
        <div class="card" *ngIf="a == true">
          <div class="card-header">Factures :  &nbsp; &nbsp; Declaration IS pour l'année {{declarationObject.annee}}</div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">Crédit</div>
                  <div class="card-body">
                    <table class="table">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col">Libellé</th>
                        <th scope="col">Montant HT</th>
                        <th scope="col">Date opération</th>
                        <th scope="col">Trimestre</th>
                        <th scope="col">Sté Source</th>
                        <th scope="col">Sté Destination</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let fc of declarationObject.factureC |paginate: {id:'listFactC',itemsPerPage: itemsPerPageFact, currentPage:page2, totalItems:declarationObject.factureC.length }; index as i">
                        <th scope="row">{{fc.ref}}</th>
                        <td>{{fc.montantHorsTaxe}}&nbsp;&nbsp;MAD</td>
                        <td>{{fc.dateOperation}}</td>
                        <td>{{fc.trim}}</td>
                        <td>{{fc.societeSource.ice}}</td>
                        <td>{{fc.societeDistination.ice}}</td>
                      </tr>
                      </tbody>
                    </table>
                    <div>
                      <pagination-controls id="listFactC" maxSize="5" directionLinks="true" (pageChange)="page2=$event"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header">Débit</div>
                  <div class="card-body">
                    <table class="table">
                      <thead class="thead-dark">
                      <tr>
                        <th scope="col">Libellé</th>
                        <th scope="col">Montant HT</th>
                        <th scope="col">Date opération</th>
                        <th scope="col">Trimestre</th>
                        <th scope="col">Sté Source</th>
                        <th scope="col">Sté Destination</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let fd of declarationObject.factureD |paginate: {id:'listFactD',itemsPerPage: itemsPerPageFact, currentPage:page3, totalItems:declarationObject.factureD.length }; index as i">
                        <th scope="row">{{fd.ref}}</th>
                        <td>{{fd.montantHorsTaxe}}&nbsp;&nbsp;MAD</td>
                        <td>{{fd.dateOperation}}</td>
                        <td>{{fd.trim}}</td>
                        <td>{{fd.societeSource.ice}}</td>
                        <td>{{fd.societeDistination.ice}}</td>
                      </tr>
                      </tbody>
                    </table>
                    <div>
                      <pagination-controls id="listFactD" maxSize="5" directionLinks="true" (pageChange)="page3=$event"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
</div>





<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><span><i class="bi bi-exclamation-triangle"></i></span></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p><strong>Voulez-vous vraiment valider la déclaration <span style="color: blue">JAS</span>  ? </strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="validerBrouillon(decIS)" (click)="c('Save click')">Valider</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Annuler</button>
  </div>
</ng-template>
<!------>

<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title1"><span><i class="bi bi-exclamation-octagon-fill"></i></span></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <p><strong>Voulez-vous vraiment supprimer la déclaration <span style="color: blue">JAS</span>  ? </strong></p>
    <p>Toutes les informations associées à cette déclaration seront supprimées définitivement.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="c('Save click')">Supprimer</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Annuler</button>
  </div>
</ng-template>
<!----->
