<div class="container">
  <div class="card">
    <p></p>
    <div class="card">
      <div class="card-header" style="font-size:18.0pt">DÉCLARATION IS Criteria </div>
      <div class="card-body">
        <div class="card-header" style="font-size:16.0pt">Search Declaration IS :</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4"><label>Reference :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.ref">
            </div>
            <div class="col-md-4"><label>Société :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.societe">
            </div>
            <div class="col-md-4"><label>Taux IS :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.tauxIS">
            </div>
            <div class="col-md-4"><label>Année :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.annee">
            </div>
            <div class="col-md-4"><label>Année minimum :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.anneeMin">
            </div>
            <div class="col-md-4"><label>Année maximum :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.anneeMax">
            </div>
            <div class="col-md-4"><label>Total hors taxe gain :</label>
              <input type="text" class="form-control"  [(ngModel)]="declarationVo.totalHTGain">
            </div>
            <div class="col-md-4"><label>Total hors taxe gain minimum:</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.totalHTGainMin">
            </div>
            <div class="col-md-4"><label>Total hors taxe gain maximum:</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.totalHTGainMax">
            </div>
            <div class="col-md-4"><label>Total hors taxe charge :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.totalHTCharge">
            </div>
            <div class="col-md-4"><label>Total hors taxe charge minimum:</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.totalHTChargeMin">
            </div>
            <div class="col-md-4"><label>Total hors taxe charge maximum:</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.totalHTChargeMax">
            </div>
            <div class="col-md-4"><label>Résultat fiscal :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.totalHTDiff">
            </div>
            <div class="col-md-4"><label>Résultat fiscal minimum :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.totalHTDiffMin">
            </div>
            <div class="col-md-4"><label>Résultat fiscal maximum :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.totalHTDiffMax">
            </div>
            <div class="col-md-4"><label>Montatnt IS calculé :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.montantISCalcule">
            </div>
            <div class="col-md-4"><label>Montatnt IS calculé minimum :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.montantISCalculeMin">
            </div>
            <div class="col-md-4"><label>Montatnt IS calculé maximum :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.montantISCalculeMax">
            </div>
            <div class="col-md-4"><label>Montatnt IS payé :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.montantISPaye">
            </div>
            <div class="col-md-4"><label>Montatnt IS payé minimum :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.montantISPayeMin">
            </div>
            <div class="col-md-4"><label>Montatnt IS payé maximum :</label>
              <input type="text" class="form-control" [(ngModel)]="declarationVo.montantISPayeMax">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-outline-primary btn-lg btn-block fa fa-search" (click)="criteriaIS()"></button>
        </div>
      </div>
    </div>
    <!-- ----- -->
    <div class="card-header" style="font-size:16.0pt">Result </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="font-size:14.0pt">Déclaration IS</h5>
              <table class="table table-hover table-striped">
                <thead>
                  <th>Reference</th>
                  <th>Année</th>
                  <th>TotalHTGain</th>
                  <th>TotalHTCharge</th>
                  <th>Résultat fiscal</th>
                  <th>Montant IS calculé</th>
                  <th>Montant IS payé</th>
                  <th>Société</th>
                </thead>
                <tbody>
                <tr *ngFor="let d of declarationISList">
                  <td>{{d.ref}}</td>
                  <td>{{d.annee}}</td>
                  <td>{{d.totalHTGain}}</td>
                  <td>{{d.totalHTCharge}}</td>
                  <td>{{d.totalHTDiff}}</td>
                  <td>{{d.montantISCalcule}}</td>
                  <td>{{d.montantISPaye}}</td>
                  <td>{{d.societe.ice}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <p></p>
    </div>
  </div>
</div>
